<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ride_history.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
     {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <title>Ride History</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pick'n'Drop</a>
        </div>
        <div class="navbar-collapse collapse navbar-right main-nav" id="navbar">
           <ul class="nav navbar-nav ">
            <li id="sub-1"><a href="/login_homepage">Book A Ride</a></li>
            <li id="sub-2"><a href="/user_detail_update">Update Details</a></li>
            <li id="sub-5"><a href="/logout">Logout</a></li>
          </ul>
           
          <div class="bottom-arrow"></div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    
     
     <center>
    <div  class="container" >
        <h4 class="text-center  ml-4 mt-4  mb-5">View Records</h4>
        <table>
  <thead>
    
        <tr>
      
      <th>Pickup</th>
      <th>Destination</th>
      <th>Email</th>
      <th>Cab</th>
      <th>Date and Time</th>
     
    </tr>
    
    
  </thead>
  <tbody>
     
   {{#each records}}
            <tr>
            
            <td>{{pickup}}</td>
            <td>{{destination}}</td>
            <td>{{email}}</td>
            <td>{{cab}}</td>
            <td>{{date_time}}</td>
            </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>
    
  </center>
    
</body>
</html>